body{
  font-family: "Dancing Script";
  background-color: #02010a;

}
header{
  background-color: #5b7989;
  border-radius:  10px 10px 0px 0px;
  color: white;
  text-shadow: 2px 2px #02010a;
  animation-duration: 3s;
  animation-name: slidein;
}


header nav a {

  color:white;
  text-decoration:none;
  text-shadow: 2px 2px #02010a;
  font-size:20px;
}
.cabecera{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.cabecera > div{
  width: 50%;

}
.titulo{
  margin-left: 30px;
}
.navegacion{
    word-spacing: 20px;
    text-align: right;
    margin-right: 60px;
}


#contenido{
 width: 900px;
 display: block;
 margin-left: auto;
 margin-right: auto;

}
#imagenCentral{
  background-color: #82c3a6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

}


#imagenSecundaria{
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#imagenSecundaria > div{
  width: 50%;
  padding: 30px;

}
img{
  box-shadow: 2px 2px #02010a;
}


footer{
  background-color: #C6d5c5;
  border-radius:  0px 0px 10px 10px;

}

.piePagina{
  display: flex;
  flex-direction:row;
  justify-content: center;

}
.piePagina > div{
  padding: 10px;
}

.paisaje{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.paisaje img{
  transition: border 2s;
  transition: transform 2s;

}
.paisaje img:hover{
  border: 2px solid #82c3a6;
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.retrato{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.retrato img{
  transition: border 2s;
  transition: transform 2s;

}
.retrato img:hover{
  border: 2px solid #82c3a6;
  -moz-transform: translate(20px, 5px);
  -o-transform: translate(20px, 5px);
  -webkit-transform: translate(20px, 5px);
  transform: translate(20px, 5px);
}

.galeria{
  background-color: #82c3a6;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

.galeria > div{
  padding: 30px;
}

.columna{
  flex: 50%;
  max-width: 25%;
  padding: 0 4px;
}

.columna img {
  margin-top: 40px;
  vertical-align: middle;
}

.imagen1{
	filter: blur(10px);
	-webkit-filter:blur(10px);
}
.imagen2, .imagen4, .imagen6{
  -webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
.imagen3{
  filter: sepia(90%);
	-webkit-filter: sepia(90%);
}




@media (max-width:900px){
  #contenido{
    width: 100%;
  }
  .cabecera{
   flex-direction: column;
  }
  .titulo{

    text-align: center;
  }
  .navegacion{
    word-spacing: 10px;
    text-align: center;
  }
  #imagenCentral img{
    width: 80%;
  }


  #imagenSecundaria{
    flex-direction: column;
  }
  #imagenSecundaria div img{
    width: 150%
  }

  .piePagina{
    flex-direction: column;
    text-align: center;
  }

  .galeria > div{
    padding: 20px;
  }

  .columna{
    max-width: 50%;
  }

}
@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}
