body{
  font-family: "Dancing Script";
  background-color: #02010a;

}
header{
  background-color: #5b7989;
  border-radius:  10px 10px 0px 0px;
  color: white;
  text-shadow: 2px 2px #02010a;
}


header nav a {

  color:white;
  text-decoration:none;
  text-shadow: 2px 2px #02010a;
  font-size:20px;
}
.cabecera{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.cabecera > div{
  width: 50%;

}
.titulo{
  margin-left: 30px;
}
.navegacion{
    word-spacing: 20px;
    text-align: right;
    margin-right: 60px;
}


#contenido{
 width: 900px;
 display: block;
 margin-left: auto;
 margin-right: auto;

}
#imagenCentral{
  background-color: #82c3a6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

}


#imagenSecundaria{
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#imagenSecundaria > div{
  width: 50%;
  padding: 30px;

}
img{
  box-shadow: 2px 2px #02010a;
}


footer{
  background-color: #C6d5c5;
  border-radius:  0px 0px 10px 10px;

}

.piePagina{
  display: flex;
  flex-direction:row;
  justify-content: center;

}
.piePagina > div{
  padding: 10px;
}

.paisaje{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.retrato{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}


@media (min-width:900px){

}

@media (max-width:900px){
  #contenido{
    width: 100%;
  }
  .cabecera{
   flex-direction: column;
  }
  .titulo{

    text-align: center;
  }
  .navegacion{
    word-spacing: 10px;
    text-align: center;
  }
  #imagenCentral img{
    width: 80%;
  }


  #imagenSecundaria{
    flex-direction: column;
  }
  #imagenSecundaria div img{
    width: 150%
  }

  .piePagina{
    flex-direction: column;
    text-align: center;
  }

}
